<head>
<!-- Required meta tags -->
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
<!-- Bootstrap CSS -->
<!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">

<link rel="stylesheet" href="/font-awesome-4.7.0/css/font-awesome.min.css">

<title>Run...</title>
<link rel="stylesheet" href="/css/app.css">
<script type="text/javascript" src="/moment/min/moment.min.js"></script>
</head>
  