<!doctype html>
<html lang="en">
  <head>
    <%- include('partials/header') -%>
  </head>
  <body>
    <div class="container-fluid" id="root">
      <div class="col-sm-3" style="height: calc(70% - 10px); margin: 10px; background-color: #1B1B30; border-radius: 10px; box-shadow: 1px -1px 6px #272740; overflow: auto;">
        <ul class="nav nav-tabs">
          <li class="active"><a href="#group" data-toggle="pill">Group</a></li>
          <li><a href="#keyword" data-toggle="pill">Keyword</a></li>
        </ul>

        <div class="tab-content">
          <div id="group" class="tab-pane fade in active">
            <form style="margin-top: 7px;">
              <div class="input-group">
                <input id="msg" type="text" class="form-control" name="msg" placeholder="Search name">
                <span class="btn btn-default input-group-addon" onclick="group_create(this);">Create</span>
              </div>
            </form>
          </div>
          <div id="keyword" class="tab-pane fade">
            <form style="margin-top: 7px;" id="upload_keyword">
              <div class="form-group">
                <label for="usr">Name:</label>
                <input type="text" class="form-control" name="keyword_name">
              </div>
              <div class="form-group">
                <p>
                  Format: <strong>[text-keyword]</strong>
                </p>
                <div class="input-group">
                  <div class="custom-file">
                    <input type="file" class="custom-file-input" id="inputGroupFile02"
                      aria-describedby="inputGroupFileAddon02">
                  </div>
                </div>
              </div>
              <div class="form-group">
                <button type="submit" class="btn btn-info btn-xs"> Upload </button>
              </div>
            </form>
            <div id="keyword_table"></div>
          </div>
        </div>
      </div>

      <div class="col-sm-6" id="plan-channel-data" style="overflow: auto; height: calc(70% - 10px); margin: 10px; background-color: #1B1B30; border-radius: 10px; box-shadow: 1px -1px 6px #272740;">
        <div class="col-sm-12" style="padding: 0px;">
          <form class="form-inline" style="margin-top: 7px;">
            <div class="form-group">
              <select class="form-control" name="status_search">
                <option value="all">Tất cả</option>
                <option value="live">Live</option>
                <option value="warning">Warning</option>
                <option value="die">Die</option>
              </select>
            </div>

            <div class="form-group">
              <div class="input-group">
                <input id="msg" type="text" class="form-control" name="msg" placeholder="Channel">
                <span class="btn input-group-addon">Search</span>
              </div>
            </div>

            <div class="form-group" style="float: right; margin-right: 10px;">
              <button type="button" class="btn btn-success btn-xs" data-toggle="modal" data-target="#Modal_option_channel" onclick="btn_channel_start(this);">
                <i class="fa fa-play" aria-hidden="true"></i>
              </button>
              <button type="button" class="btn btn-warning btn-xs" data-toggle="modal" data-target="#Modal_option_channel" onclick="btn_channel_stop(this);">
                <i class="fa fa-pause" aria-hidden="true"></i>
              </button>
              <button type="button" class="btn btn-info btn-xs" data-toggle="modal" data-target="#Modal_option_channel" onclick="onOptionSelect(this);">
                <i class="fa fa-cogs" aria-hidden="true"></i>
              </button>
              <button type="button" class="btn btn-danger btn-xs" onclick="btn_channel_delete(this);">
                <i class="fa fa-trash" aria-hidden="true"></i>
              </button>
            </div>
          </form>
        </div>

        <table id="table_channel_data" class="table table-striped" style="margin-top: 5px;">
          <thead>
            <tr>
              <th style="width: 3%;">
                <div class="checkbox">
                  <label>
                    <input type="checkbox" name="checkbox_channel_checkbox"><span style="margin-top: 3px; display: inline-block;">#</span>
                  </label>
                </div>
              </th>
              <th style="width: 30%;">Channel</th>
              <th style="width: 5%;">Status</th>
              <th style="width: 10%;">Playlist</th>
              <th style="width: 10%;">Keyword</th>
              <th style="width: 10%;">Delay</th>
              <th style="width: 2%;">Time</th>
              <th style="width: 10%;">Action</th>
            </tr>
          </thead>
          <tbody>
          </tbody>
        </table>
      </div>

      <div class="col-sm-2" style="height: calc(70% - 10px); margin: 10px; background-color: #1B1B30; border-radius: 10px; box-shadow: 1px -1px 6px #272740; overflow: auto;">
        <ul class="nav nav-tabs">
          <li ><a href="#log_channel" data-toggle="pill">Log Channel</a></li>
          <li class="active"><a href="#log_playlist" data-toggle="pill">Log Playlist</a></li>
        </ul>


        <div class="tab-content">
          <div id="log_channel" class="tab-pane fade ">
            <table class="table table-striped">
              <thead>
                <tr>
                  <th>#Date</th>
                  <th>Type</th>
                  <th>Message</th>
                </tr>
              </thead>
              <tbody>
              </tbody>
            </table>
          </div>
          <div id="log_playlist" class="tab-pane fade in active">
            <table class="table table-striped">
              <thead>
                <tr>
                  <th>#Date</th>
                  <th>Type</th>
                  <th>Message</th>
                </tr>
              </thead>
              <tbody>
              </tbody>
            </table>
          </div>
        </div>

        
      </div>

      <div class="col-sm-9" style="height: calc(25% - 10px); margin: 10px; width: calc(75% + 20px); background-color: #1B1B30; border-radius: 10px; box-shadow: 1px -1px 6px #272740;">
        <ul class="nav nav-tabs">
          <li class="active"><a href="#p_analytic" data-toggle="pill">Analytic</a></li>
          <li><a href="#p_overview" data-toggle="pill">Overview</a></li>
        </ul>

        <div class="tab-content">
          <div id="p_analytic" class="tab-pane fade in active">
            <canvas width="500" height="170" id="chartjs-analytic" class="chartjs-render-monitor" style="display: block; width: 500px; height: 170px;"></canvas>
          </div>
          <div id="p_overview" class="tab-pane fade">

          </div>
        </div>
      </div>

      <div class="col-sm-2" style="height: calc(25% - 10px); padding: 0px; margin-left: 10px; margin-top: 10px; background-color: #1B1B30; border-radius: 10px; box-shadow: 1px -1px 6px #272740;">
        <div class="col-sm-6 " style="height: calc(50% - 20px); width: calc(50% - 20px);  margin: 10px; border-radius: 7px; border:1px solid #fff;">
          <h4>CPU</h4>
          <h5 class="cpu_use" style="color: #34de34;">00%</h5>
        </div>
        <div class="col-sm-6" style="height: calc(50% - 20px); width: calc(50% - 20px);  margin: 10px; border-radius: 7px; border:1px solid #fff;">
          <h4>RAM</h4>
          <h5 class="ram_use" style="color: #34de34;">00%</h5>
        </div>
        <div class="col-sm-6" style="height: calc(50% - 20px); width: calc(50% - 20px);  margin: 10px; border-radius: 7px; border:1px solid #fff;">
          <h4>Disk</h4>
          <h5 class="disk_use" style="color: #34de34;">00%</h5>
        </div>
        <div class="col-sm-6" style="height: calc(50% - 20px); width: calc(50% - 20px);  margin: 10px; border-radius: 7px; border:1px solid #fff;">
          <h4>Network</h4>
          <h5 style="color: #34de34;">00%</h5>
        </div>
      </div>

      <div class="nav-action" style="">
      </div>
    </div>

    <%- include('partials/javascripts') -%>

    <!-- Modal -->
    <div id="myModal" class="modal fade" role="dialog">
      <div class="modal-dialog">
        <!-- Modal content-->
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal">&times;</button>
            <h4 class="modal-title">Add Channel new</h4>
          </div>
          <div class="modal-body">
            <form id="upload_channel" class="form-line"style="margin-top: 7px;">
                <div class="form-group">
                  <p>
                    Format: <strong>[channel_id]|[cookie-channel]</strong>
                  </p>
                  <div class="input-group">
                    
                    <div class="custom-file">
                      <input type="file" class="custom-file-input" id="inputGroupFile01"
                        aria-describedby="inputGroupFileAddon01">
                    </div>
                  </div>
                </div>
                <div class="form-group">
                  <button type="submit" class="btn btn-info btn-xs">
                    Upload </button> <span> 0/0 Channel</span>
               </div>
            </form>
          </div>
        </div>

      </div>
    </div>

    <div id="Modal_info_channel" class="modal fade" role="dialog">
      <div class="modal-dialog">

        <!-- Modal content-->
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal">&times;</button>
            <h4 class="modal-title">Channel: <span channel-id></span></h4>
          </div>
          <div class="modal-body">
            <ul class="nav nav-pills">
              <li class="active"><a data-toggle="tab" href="#p_info_channel">Info</a></li>
              <li><a data-toggle="tab" href="#p_proxy_playlist">Proxy</a></li>
              <li><a data-toggle="tab" href="#p_video_playlist">Video Playlist</a></li>
              <li><a data-toggle="tab" href="#p_info_playlist">Playlist</a></li>
            </ul>
            <div class="tab-content" style="margin-top: 15px;">
              <div id="p_info_channel" class="tab-pane fade in active">
                  <div class="form-group">
                    <label>Channel ID:</label>
                    <label channel-id>----</label>
                  </div>
                  <div class="form-group">
                    <label>Channel Name:</label>
                    <label channel-name>----</label>
                  </div>
                  <div class="form-group">
                    <label>Playlist Count:</label>
                    <label channel-playlist>0</label>
                  </div>

                  <div class="form-group">
                    <label>Last create Playlist:</label>
                    <label channel-created_at>2020/09-18 12:02:31</label>
                  </div>

                  <div class="form-group">
                    <label>Group keyword:</label>
                    <select class="form-control" channel-keyword>
                      <option>1</option>
                      <option>2</option>
                    </select>
                  </div>

                  <div class="form-group">
                    <label>Type desc:</label>
                    <select class="form-control" name="type_desc">
                      <option value="prepend">Prepend</option>
                      <option value="append">Append</option>
                      <option value="custom">Custom</option>
                    </select>
                  </div>
                  
                  <div class="form-group">
                    <label>Desc Content:</label>
                    <textarea class="form-control" rows="5" name="desc_content"></textarea>
                  </div>

                  <div class="form-group">
                    <label>Max Day:</label>
                    <input type="number" class="form-control" value="0" channel-option-max-day>
                  </div>

                  <div class="form-group">
                    <label>Max Total:</label>
                    <input type="number" class="form-control" value="0" channel-option-max-total>
                  </div>

                  <div class="form-group">
                    <label>Video Count in Playlist:</label>
                    <input type="text" class="form-control" value="[50-200]" channel-option-count-video-in-playlist>
                  </div>

                  <div class="form-group">
                    <label>Delay:</label>
                    <input type="number" class="form-control" value="36000" channel-option-delay>
                  </div>

                  <div class="form-group">
                    <label for="pwd">Run:</label>
                    <select class="form-control" channel-option-status>
                      <option value="1">Start</option>
                      <option value="0">Stop</option>
                    </select>
                  </div>

                  <button class="btn btn-default" onclick="btn_channel_option(this);">Update</button>
              </div>
              <div id="p_info_playlist" class="tab-pane fade">
                <table id="table_playlist_data" class="table table-striped" style="margin-top: 5px;">
                  <thead>
                    <tr>
                      <th style="width: 3%;">#</th>
                      <th style="width: 30%;">Playlist</th>
                      <th style="width: 5%;">Views</th>
                      <th style="width: 10%;">View/day</th>
                      <th style="width: 10%;">Last</th>
                      <th style="width: 10%;">Action</th>
                    </tr>
                  </thead>
                  <tbody>
                  </tbody>
                </table>
              </div>
              <div id="p_proxy_playlist" class="tab-pane fade">
                  <div class="form-group">
                    <label>Type:</label>
                     <select class="form-control" name="type_proxy">
                      <option value="key">Key API (tinsoftproxy.com)</option>
                      <option value="proxy">Proxy</option>
                    </select>
                  </div>
                  <div class="form-group" style="display: none;">
                    <label>Proxy:</label>
                    <input type="text" class="form-control" name="proxy_host">
                  </div>
                  <div class="form-group">
                    <label>Key:</label>
                    <input type="text" class="form-control" name="key_api">
                  </div>
              </div>
              <div id="p_video_playlist" class="tab-pane fade">
                <div class="row">
                  <div class="form-group col-xs-8">
                    <label>Video Url:</label>
                    <input type="text" class="form-control" name="video_url">
                  </div>
                  <div class="form-group col-xs-4">
                    <label>Index:</label>
                    <input type="text" class="form-control" name="video_index">
                  </div>

                  <div class="form-group col-xs-12">
                    <button type="button" class="btn btn-primary" onclick="pushVideoDataPlaylist(this);">Push Video</button>
                  </div>
                </div>
                
                <div>
                  <table class="table table-striped table_videodata_playlist" style="margin-top: 5px;">
                    <thead>
                      <tr>
                        <th >#</th>
                        <th >Video</th>
                        <th >Index</th>
                        <th >Action</th>
                      </tr>
                    </thead>
                    <tbody>
                    </tbody>
                  </table>
                </div>
              </div>
            </div>
          </div>
        </div>

      </div>
    </div>

    <div id="Modal_option_channel" class="modal fade" role="dialog">
      <div class="modal-dialog">
        <!-- Modal content-->
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal">&times;</button>
            <h4 class="modal-title">Channel: [] </h4>
          </div>
          <div class="modal-body">
            <ul class="nav nav-pills">
              <li class="active"><a data-toggle="tab" href="#o_info_channel">Info</a></li>
              <li><a data-toggle="tab" href="#o_proxy_playlist">Proxy</a></li>
              <li><a data-toggle="tab" href="#o_video_playlist">Video Playlist</a></li>
            </ul>
            <div class="tab-content" style="margin-top: 15px;">
              <div id="o_info_channel" class="tab-pane fade in active">
                  <div class="form-group">
                    <label>Group keyword:</label>
                    <select class="form-control" channel-keyword>
                      <option>1</option>
                      <option>2</option>
                    </select>
                  </div>

                  <div class="form-group">
                    <label>Type desc:</label>
                    <select class="form-control" name="type_desc">
                      <option value="prepend">Prepend</option>
                      <option value="append">Append</option>
                      <option value="custom">Custom</option>
                    </select>
                  </div>

                  <div class="form-group">
                    <label>Desc Content:</label>
                    <textarea class="form-control" rows="5" name="desc_content"></textarea>
                  </div>

                  <div class="form-group">
                    <label>Max Day:</label>
                    <input type="number" class="form-control" value="0" channel-option-max-day>
                  </div>

                  <div class="form-group">
                    <label>Max Total:</label>
                    <input type="number" class="form-control" value="0" channel-option-max-total>
                  </div>

                  <div class="form-group">
                    <label>Video Count in Playlist:</label>
                    <input type="text" class="form-control" value="[50-200]" channel-option-count-video-in-playlist>
                  </div>

                  <div class="form-group">
                    <label>Delay:</label>
                    <input type="number" class="form-control" value="36000" channel-option-delay>
                  </div>

                  <div class="form-group">
                    <label for="pwd">Run:</label>
                    <select class="form-control" channel-option-status>
                      <option value="1">Start</option>
                      <option value="0">Stop</option>
                    </select>
                  </div>

                  <button class="btn btn-default" onclick="UpdateOptionSelect(this);">Update</button>
              </div>
              <div id="o_proxy_playlist" class="tab-pane fade">
                  <div class="form-group">
                    <label>Type:</label>
                     <select class="form-control" name="type_proxy">
                      <option value="key">Key API (tinsoftproxy.com)</option>
                      <option value="proxy">Proxy</option>
                    </select>
                  </div>
                  <div class="form-group" style="display: none;">
                    <label>Proxy:</label>
                    <input type="text" class="form-control" name="proxy_host">
                  </div>
                  <div class="form-group">
                    <label>Key:</label>
                    <input type="text" class="form-control" name="key_api">
                  </div>
              </div>
              <div id="o_video_playlist" class="tab-pane fade">
                <div class="row">
                  <div class="form-group col-xs-8">
                    <label>Video Url:</label>
                    <input type="text" class="form-control" name="video_url">
                  </div>
                  <div class="form-group col-xs-4">
                    <label>Index:</label>
                    <input type="text" class="form-control" name="video_index">
                  </div>

                  <div class="form-group col-xs-12">
                    <button type="button" class="btn btn-primary" onclick="pushVideoDataPlaylist2(this);">Push Video</button>
                  </div>
                </div>
                
                <div>
                  <table class="table table-striped table_videodata_playlist" style="margin-top: 5px;">
                    <thead>
                      <tr>
                        <th >#</th>
                        <th >Video</th>
                        <th >Index</th>
                        <th >Action</th>
                      </tr>
                    </thead>
                    <tbody>
                    </tbody>
                  </table>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="modal right fade" id="playlist_detail" tabindex="-1" role="dialog" aria-labelledby="myModalLabel2">
      <div class="modal-dialog" role="document">
        <div class="modal-content">

          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            <h4 class="modal-title" id="myModalLabel2">Playlist Action</h4>
          </div>

          <div class="modal-body">
            <p>
              Playlist: <playlist-id style="color: #51ff51;"></playlist-id>
              <br>
              <br>
              Views: <playlist-view style="color: #51ff51;"></playlist-view>
              <br>
              <br>
              AVG: <playlist-avg style="color: #51ff51;"></playlist-avg>
              <br>
              <br>
              Created_at: <playlist-created_at style="color: #51ff51;"></playlist-created_at>
              <br>
              <br>
              Updated_at: <playlist-updated_at style="color: #51ff51;"></playlist-updated_at>
            </p>

            <button type="button" class="btn btn-danger">Delete</button>
            <button type="button" class="btn btn-primary">Update</button>

            <div id="p_video_action" class="panel panel-default" style="margin-top: 16px; background-color: transparent;">
              <div class="panel-body">
                <div class="form-group">
                  <label >Video:</label>
                  <input type="text" name="video_id" class="form-control" placeholder="Video...">
                </div>
                <button type="button" class="btn btn-primary" data-type="push_video" onclick="btn_playlist_action(this);">Push video</button>
                <button type="button" class="btn btn-success" data-type="set_avatar" onclick="btn_playlist_action(this);">Set Avatar</button>
                <button type="button" class="btn btn-danger"  data-type="remove_video" onclick="btn_playlist_action(this);" style="margin-top: 4px;">Remove video</button>

              </div>
            </div>

            <div id="p_video_action_change" class="panel panel-default" style="margin-top: 16px; background-color: transparent;">
              <div class="panel-body">
                <div class="form-group">
                  <label >Video Change:</label>
                  <input type="text" class="form-control" placeholder="Video...">
                </div>
                <div class="form-group">
                  <label >Video index:</label>
                  <input type="number" class="form-control" value="1">
                </div>
                <button type="button" class="btn btn-primary" data-type="change_video" >Change Video</button>
              </div>
            </div>
          </div>

        </div><!-- modal-content -->
      </div><!-- modal-dialog -->
    </div><!-- modal -->

  </body>
  <script type="text/javascript">
    const ElmGroup = $("#group");
    const ElmKeyword = $("#keyword_table");
    const FmGroupCreate = $("#fm_create_group");
    var name_group = "";

    function formatMoney(number, m) {
      return parseInt(number).toFixed(m).replace(/(\d)(?=(\d{3})+(?!\d))/g, '$1,');
    };

    socket.on("group_create", function (data) {
      ElmGroup.prepend(`
        <div class="media">
          <div class="media-left">
            <img src="/img/iconfinder_gamecontroller_1055053.png" class="media-object" style="width:60px; padding: 8px;">
          </div>
          <div class="media-body">
            <h5 class="media-heading" style="margin-top: 20px;" onclick="name_group='`+ data.name +`'; getChanneldata();"> `+ data.name +` </h5>
          </div>
          <div class="media-action">
            <button type="button" class="btn btn-info btn-xs" onclick="name_group='`+ data.name +`';" data-toggle="modal" data-target="#myModal">
              <i class="fa fa-plus" aria-hidden="true"></i></button>
            <button type="button" class="btn btn-danger btn-xs" onclick="group_del(this);" data-name="`+ data.name +`">
              <i class="fa fa-trash" aria-hidden="true"></i></button>
          </div>
        </div>
      `);
    });

    const group_get = function ()
    {
      $.get('/group/get', function (data)
      {
        $.each(data, function (i, item) {
          ElmGroup.append(`
            <div class="media">
              <div class="media-left">
                <img src="/img/iconfinder_gamecontroller_1055053.png" class="media-object" style="width:60px; padding: 8px;">
              </div>
              <div class="media-body" onclick="name_group='`+ item.name +`'; getChanneldata();">
                <h5 class="media-heading" style="margin-top: 20px;;"> `+ item.name +` </h5>
              </div>
              <div class="media-action">
                <button type="button" class="btn btn-info btn-xs" onclick="name_group='`+ item.name +`';" data-toggle="modal" data-target="#myModal">
                  <i class="fa fa-plus" aria-hidden="true"></i></button>
                <button type="button" data-name="`+ item.name +`" class="btn btn-danger btn-xs" onclick="group_del(this);" >
                  <i class="fa fa-trash" aria-hidden="true"></i></button>
              </div>
            </div>
          `);
        });
      });
    };

    const group_del = function (btn)
    {
      if (confirm("Xóa nhóm kênh :"+ $(btn).attr("data-name")))
      {
        $.ajax({
          url: "/group/del",
          method: "delete",
          data: { name: $(btn).attr("data-name") },
          success: function ()
          {
            $(btn).parent().parent().remove();
          },
          error: function () {

          }
        });
      };
    };

    const ElmGroupName = $("#name_group");

    const group_create = function ()
    {
      var param = {
        name: $('[name="msg"]').val(),
        avatar: "",
        count: 0
      };
      
      $.ajax({
        url: "/group/create",
        method: "PUT",
        data: param,
        success: function ()
        {

        },
        error: function ()
        {

        }
      });
    };

    $('form#upload_channel').submit(function ( e ) {
      var reader = new FileReader();
        reader.onload = function() {
          var lists = reader.result.trim().split("\n");
          var i = 0;
          $("#upload_channel span").text(i+ "/"+ lists.length +" Channel");
          function loop()
          {
            if (i < lists.length)
            {
              var dataChannel = lists[i].split("|");
              $.ajax({
                  url: '/channel/create',
                  data: {
                    channel: dataChannel[0],
                    cookie: dataChannel[1],
                    group: name_group
                  },
                  type: 'PUT',
                  success: function ( data ) {
                    i++;
                    $("#upload_channel span").text(i+ "/"+ lists.length +" Channel");
                    loop();
                  },
                  error: function ()
                  {
                    i++;
                    $("#upload_channel span").text(i+ "/"+ lists.length +" Channel");
                    loop();
                  }
              });
            };
          };
          loop();
        };
        reader.readAsText($('#upload_channel #inputGroupFile01')[0].files[0]);
        e.preventDefault();
    });

    $('form#upload_keyword').submit(function (e) {
      var data = new FormData();
        data.append( 'keyword', $('#upload_keyword #inputGroupFile02')[0].files[0]);
        data.append('name', $('#upload_keyword [name="keyword_name"]').val());

      $.ajax({
        url: '/keyword/upload',
        data: data,
        processData: false,
        contentType: false,
        type: 'PUT',
        success: function(data) { getKeyworddata(); }
      });

      e.preventDefault();
    });

    function getKeyworddata()
    {
      $("#p_info_channel [channel-keyword]").text("");
      $("#o_info_channel [channel-keyword]").text("");
      ElmKeyword.text("");
      $.get("/keyword/get")
      .then(function (data) {
        $.each(data, function (i, item) {
          ElmKeyword.append(`
            <div class="media">
              <div class="media-left">
                <img src="/img/iconfinder_gamecontroller_1055053.png" class="media-object" style="width:60px; padding: 8px;">
              </div>
              <div class="media-body" onclick="name_group='`+ item.name +`'; getChanneldata();">
                <h5 class="media-heading" style="margin-top: 20px;;"> `+ item.name +` </h5>
              </div>
              <div class="media-action">
                <button type="button" data-name="`+ item.name +`" class="btn btn-danger btn-xs" onclick="keyword_del(this);" >
                  <i class="fa fa-trash" aria-hidden="true"></i></button>
              </div>
            </div>
          `);

          $("#p_info_channel [channel-keyword]").append(`
            <option value="`+ item.name +`">`+ item.name +`</option>
          `);

          $("#o_info_channel [channel-keyword]").append(`
            <option value="`+ item.name +`">`+ item.name +`</option>
          `);
        });
      });
    };

    function keyword_del(btn)
    {
      var name = $(btn).attr("data-name");
      if (confirm("Xóa nhóm từ khóa :"+ name))
      {
        $.ajax({
          url: "/keyword/del",
          method: "delete",
          data: { name: name },
          success: function ()
          {
            $(btn).parent().parent().remove();
          },
          error: function () {

          }
        });
      };
    };

    var getChanneldata = function ()
    {
      $("#table_channel_data tbody").text("");
      $("#table_channel_data tbody").append(`
        <tr>
          <td style="width: `+$("#table_channel_data tbody").width()+`px; text-align: center;" colspan="12">
            <img src="/img/Blocks-1s-200px.gif" alt="loading..." width="50"/>
          </td>
        </tr>
      `);

      $.get("/channel/get?group="+ name_group + "&status="+ $('[name="status_search"]').val(), 
        function (data)
      {
        $("#table_channel_data tbody").text("");
        $.each(data, function (i, item) {
          $("#table_channel_data tbody").append(`
            <tr data-tr-channel="`+ item.channel +`">
              <td style="width: 3%;">
                <div class="checkbox">
                  <label>
                    <input type="checkbox" name="checkbox_channel" value="`+ item.channel +`"><span style="margin-top: 3px; display: inline-block;">`+ (i+1) +`</span>
                  </label>
                </div>
              </td>

              <td style="width: 30%;">
                <a href="#" onclick="detailChannel(this);" data-channel="`+ item.channel +`" data-toggle="modal" data-target="#Modal_info_channel" style="color: #fff;">`+ item.channel +`</a>
                <a href="https://www.youtube.com/channel/`+ item.channel +`" target="_blank"><i class="fa fa-external-link" aria-hidden="true"></i></a>
              </td>

              <td style="width: 5%;">
                <p class="channel-status" style="color: `+ ((item.status=='live') ? '#34de34' : ((item.status=='warning') ? '#ffb610' : 'red')) +`;">`+ item.status +`</p>
              </td>

              <td class="count_playlist" style="width: 10%;">`+ ( (item.count_playlist) ? item.count_playlist : 0 ) +`</td>
              <td style="width: 10%;"> `+ ((item.playlist_option && item.playlist_option.keyword) ? item.playlist_option.keyword : "") +` </td>
              <td style="width: 5%;">`+ ((item.playlist_option && item.playlist_option.create_delay) ? item.playlist_option.create_delay : 0) +`</td>
              <td style="width: 7%;" class="count_down" date-delay="`+ ( (item.playlist_option && item.playlist_option.create_delay) ? item.playlist_option.create_delay : 0 ) +`" date-create="`+ ( (item.date_last_create_playlist) ? item.date_last_create_playlist : 0 ) +`" >00s</td>
              <td style="width: 10%;">
                `+
                  ((item.playlist_option && item.playlist_option.start == 1) ? `<button type="button" class="btn btn-warning btn-xs" data-channel="`+ item.channel +`" data-type="stop" onclick="btn_channel_change_status(this);">
                  <i class="fa fa-pause" aria-hidden="true"></i>
                </button>` : `<button type="button" class="btn btn-success btn-xs" data-type="start" data-channel="`+ item.channel +`" onclick="btn_channel_change_status(this);">
                  <i class="fa fa-play" aria-hidden="true"></i>
                </button>`)
                +`
                <button type="button" class="btn btn-info btn-xs" onclick="detailChannel(this);" data-channel="`+ item.channel +`" data-toggle="modal" data-target="#Modal_info_channel">
                  <i class="fa fa-cogs" aria-hidden="true"></i>
                </button>
                <button type="button" class="btn btn-danger btn-xs" data-channel="`+ item.channel +`" onclick="deleteChannel(this);">
                  <i class="fa fa-trash" aria-hidden="true"></i>
                </button>
              </td>
            </tr>
          `);
        });
      });
    };

    var deleteChannel = function (btn) {
      if (confirm("Xóa kênh :"+ $(btn).attr("data-channel")))
      {
        $.ajax({
          url: "/channel/del",
          method: "delete",
          data: { channel: $(btn).attr("data-channel") },
          success: function ()
          {
            $(btn).parent().parent().remove();
          },
          error: function () {

          }
        });
      };
    };

    var detailChannel = function (btn)
    {
      var channel = $(btn).attr("data-channel");
      changeAction = channel;
      $.get("/channel/detail/"+ channel)
      .then(function (info) {

        $("#Modal_info_channel [channel-id]").text(info.channel);
        $("#Modal_info_channel [channel-name]").text("");
        $("#Modal_info_channel [channel-playlist]").text((info.count_playlist) ? info.count_playlist : 0);
        $("#Modal_info_channel [channel-created_at]").text("2020/09/30 13:01:01");
        $("#Modal_info_channel [channel-option-max-day]").val(0);
        $("#Modal_info_channel [channel-option-max-total]").val(0);
        $("#Modal_info_channel [channel-option-count-video-in-playlist]").val('[50-200]');
        $("#Modal_info_channel [channel-option-delay]").val(0);
        $("#Modal_info_channel [channel-option-status]").val(0);

        $("#p_info_channel [channel-option-delay]").val( (info.playlist_option.create_delay) ? info.playlist_option.create_delay : 0 );
        $("#Modal_info_channel [channel-option-count-video-in-playlist]").val((info.playlist_option.count_video) ? info.playlist_option.count_video : '[50-200]');

        $("#p_info_channel [channel-option-max-total]").val( (info.playlist_option.max_total) ? info.playlist_option.max_total : 0 );
        $("#p_info_channel [channel-option-max-day]").val( (info.playlist_option.max_day) ? info.playlist_option.max_day : 0 );
        $("#p_info_channel [channel-option-status]").val( (info.playlist_option.start) ? info.playlist_option.start : 0);
        $("#p_info_channel [channel-keyword]").val( (info.playlist_option.keyword) ? info.playlist_option.keyword : "" );
        $("#p_proxy_playlist [name=\"type_proxy\"]").val( (info.playlist_option.proxy.type) ? info.playlist_option.proxy.type : "" );
        $("#p_proxy_playlist [name=\"key_api\"]").val( (info.playlist_option.proxy.key) ? info.playlist_option.proxy.key : "");
        $("#p_proxy_playlist [name=\"proxy_host\"]").val( (info.playlist_option.proxy.proxy) ? info.playlist_option.proxy.proxy : "" );

        $("#p_info_channel [name=\"type_desc\"]").val( (info.playlist_option.info.type_desc) ? info.playlist_option.info.type_desc : "prepend" );
        $("#p_info_channel [name=\"desc_content\"]").val( (info.playlist_option.info.desc_content) ? info.playlist_option.info.desc_content : "" );

        videoDataPlaylist = (info.playlist_option.videos) ? info.playlist_option.videos : [];
        
        loadVideoDataPlaylist();
      });


      $("#table_playlist_data tbody").text("");
      $("#table_playlist_data tbody").append(`
        <tr>
          <td style="width: 100%; text-align: center;" colspan="12">
            <img src="/img/Blocks-1s-200px.gif" alt="loading..." width="50"/>
          </td>
        </tr>
      `);

      $.get("/playlist/data?channel="+ channel)
      .then(function (playlistData) {
        $("#table_playlist_data tbody").text("");
        $.each(playlistData, function (i, item) {
          $("#table_playlist_data tbody").append(`
            <tr>
              <td style="width: 3%;">
                <span>`+ (i+1) +`</span>
              </td>
              <td style="width: 30%;">
                <a href="https://www.youtube.com/playlist?list=`+ item.id +`" target="_blank" style="color: #fff;">`+ item.snippet.title +`</a>
              </td>
              <td style="width: 7%;">`+ ( (item.views) ? item.views : 0 ) +`</td>
              <td style="width: 7%;">`+ ( (item.view_avg) ? formatMoney(item.view_avg, 2) : 0 ) +`</td>
              <td style="width: 7%;">`+ ( (item.last_view) ? item.last_view : 0 ) +`</td>
              <td style="width: 10%;">
                <button type="button" class="btn btn-info" data-toggle="modal" data-playlist="`+ item.id +`" onclick="playlistDetail(this);" data-target="#playlist_detail">
                  info
                </button>
              </td>
            </tr>
          `);
        });
      }); 
    };

    var onOptionSelect = function (btn)
    {
      videoDataPlaylist = [];
      loadVideoDataPlaylist();
    };

    $("[name=\"checkbox_channel_checkbox\"]").on("change", function ()
    {
      $.each($("[name=\"checkbox_channel\"]"), function ()
      {
        if ($("[name=\"checkbox_channel_checkbox\"]").is(":checked") != $(this).is(":checked"))
        {
          $(this).click();
        };
      });
    });

    var UpdateOptionSelect = function (btn)
    {
      if ($("[name=\"checkbox_channel\"]:checked").length == 0)
      {
        alert("Vui lòng chọn kênh muốn thao tác.");
        return;
      };

      if ($("#o_info_channel [channel-option-delay]").val() == "" ||
          $("#o_info_channel [channel-option-max-total]").val() == "" ||
          $("#o_info_channel [channel-option-max-day]").val() == "" ||
          $("#o_info_channel [channel-option-status]").val() == "" ||
          $("#o_info_channel [channel-option-count-video-in-playlist]").val() == "" ||
          $("#o_info_channel [channel-keyword]").val() == ""
        )
      {
        alert("Vui lòng nhập đầy đủ thông tin.");
        return;
      };

      if ($("#o_proxy_playlist [name=\"type_proxy\"]").val() == "key" && $("#o_proxy_playlist [name=\"key_api\"]").val() == "")
      {
        alert("Vui lòng nhập KEY.");
        return;
      };

      if ($("#o_proxy_playlist [name=\"type_proxy\"]").val() == "proxy" && $("#o_proxy_playlist [name=\"proxy_host\"]").val() == "")
      {
        alert("Vui lòng nhập PROXY.");
        return;
      };

      var textBtn = $(btn).text();
      $(btn).attr("disabled", 1);
      $(btn).text("loading...(0/"+ $("[name=\"checkbox_channel\"]:checked").length +")");

      var channels = [];
      $.each($("[name=\"checkbox_channel\"]:checked"), function ()
      {
        channels.push($(this).val());
      });

      var iChannel = 0;
      function loopOption()
      {
        if (iChannel < channels.length)
        {
          $.post("/channel/update/option/playlist",
          {
            channel: channels[iChannel],
            create_delay: $("#o_info_channel [channel-option-delay]").val(),
            max_total: $("#o_info_channel [channel-option-max-total]").val(),
            max_day: $("#o_info_channel [channel-option-max-day]").val(),
            start: $("#o_info_channel [channel-option-status]").val(),
            keyword: $("#o_info_channel [channel-keyword]").val(),
            type_proxy: $("#o_proxy_playlist [name=\"type_proxy\"]").val(),
            key: $("#o_proxy_playlist [name=\"key_api\"]").val(),
            proxy: $("#o_proxy_playlist [name=\"proxy_host\"]").val(),
            videos: videoDataPlaylist,
            type_desc: $("#o_info_channel [name=\"type_desc\"]").val(),
            desc_content: $("#o_info_channel [name=\"desc_content\"]").val(),
            count_video: $("#o_info_channel [channel-option-count-video-in-playlist]").val()
          }).then(function () {
            iChannel++;
            $(btn).text("loading...("+ iChannel +"/"+ channels.length +")");
            loopOption();
          });
        } else {
          $(btn).removeAttr("disabled");
          $(btn).text(textBtn);
        };
      };
      loopOption();
    };

    function pushVideoDataPlaylist()
    {
      videoDataPlaylist.push({
        video: $("#p_video_playlist [name=\"video_url\"]").val().match(/\?v=((.+?){11})/)[1],
        index: $("#p_video_playlist [name=\"video_index\"]").val()
      });
      loadVideoDataPlaylist();
    };

    function pushVideoDataPlaylist2()
    {
      videoDataPlaylist.push({
        video: $("#o_video_playlist [name=\"video_url\"]").val().match(/\?v=((.+?){11})/)[1],
        index: $("#o_video_playlist [name=\"video_index\"]").val()
      });
      loadVideoDataPlaylist();
    };

    function delVideoDataPlaylist(btn)
    {
      var iVideo = $(btn).attr("data-ary-index");
      videoDataPlaylist.splice(iVideo, 1);
      loadVideoDataPlaylist();
    };

    function loadVideoDataPlaylist()
    {
      $(".table_videodata_playlist tbody").text("");
      $.each(videoDataPlaylist, function (i, item)
      { 
        $(".table_videodata_playlist tbody").append(`
          <tr>
            <td>
              <span>`+ (i+1) +`</span>
            </td>
            <td>
              <a href="https://www.youtube.com/watch?v=`+ item.video +`" target="_blank">`+ item.video +`</a>
            </td>
            <td >`+ item.index +`</td>
            <td>
              <button type="button" class="btn btn-danger" data-ary-index="`+ item.id +`" onclick="delVideoDataPlaylist(this);">
                <i class="fa fa-trash" aria-hidden="true"></i>
              </button>
            </td>
          </tr>
        `);
      });
    };

    var playlistAction = "";
    function playlistDetail(btn) {
      var playlist = $(btn).attr("data-playlist");
          playlistAction = playlist;
      $.get("/playlist/info?playlist="+ playlist)
      .then(function (res)
      {
        $("#playlist_detail playlist-id").text(res.snippet.title);
        $("#playlist_detail playlist-view").text(res.views);
        $("#playlist_detail playlist-avg").text(formatMoney(res.view_avg, 2));
        $("#playlist_detail playlist-created_at").text(moment(res.snippet.publishedAt).format("YYYY-M-D H:mm:ss"));
        $("#playlist_detail playlist-updated_at").text(moment(parseInt(res.view_date)).format("YYYY-M-D H:mm:ss"));
      });
    };

    function btn_playlist_action(btn)
    {
      var textBtn = $(btn).text();
      $(btn).attr("disabled", 1);
      $(btn).text("loading...");
      
      var video = $("#p_video_action [name=\"video_id\"]").val();
      switch ($(btn).attr("data-type"))
      {
        case "push_video":
            $.post("/playlist/add/video", {
                playlist: playlistAction,
                video: video
              }).then(function () {
                $(btn).removeAttr("disabled");
                $(btn).text(textBtn);
              }, function ()
              {
                $(btn).removeAttr("disabled");
                $(btn).text(textBtn);
              });
          break;
        case "set_avatar":
            $.post("/playlist/add/video", {
                playlist: playlistAction,
                video: video
              }).then(function () {
                $(btn).removeAttr("disabled");
                $(btn).text(textBtn);
              }, function () {
                $(btn).removeAttr("disabled");
                $(btn).text(textBtn);
              });
          break;
        case "remove_video":
            $.post("/playlist/add/video", {
                playlist: playlistAction,
                video: video
              }).then(function () {
                $(btn).removeAttr("disabled");
                $(btn).text(textBtn);
              }, function ()
              {
                $(btn).removeAttr("disabled");
                $(btn).text(textBtn);
              });
          break;
      };
    };

    function btn_playlist_change_video(btn)
    {
      switch ($(btn).attr("data-type"))
      {
        case "change_video":

          break;
      };
    };

    var changeAction = "";
    var videoDataPlaylist = [];
    function btn_channel_option(btn)
    {
      var textBtn = $(btn).text();
      $(btn).attr("disabled", 1);
      $(btn).text("loading...");

      if ($("#p_info_channel [channel-option-delay]").val() == "" ||
          $("#p_info_channel [channel-option-max-total]").val() == "" ||
          $("#p_info_channel [channel-option-max-day]").val() == "" ||
          $("#p_info_channel [channel-option-status]").val() == "" ||
          $("#p_info_channel [channel-option-count-video-in-playlist]").val() == "" ||
          $("#p_info_channel [channel-keyword]").val() == ""
        )
      {
        alert("Vui lòng nhập đầy đủ thông tin.");
        return;
      };

      if ($("#p_proxy_playlist [name=\"type_proxy\"]").val() == "key" && $("#p_proxy_playlist [name=\"key_api\"]").val() == "")
      {
        alert("Vui lòng nhập KEY.");
        return;
      };

      if ($("#p_proxy_playlist [name=\"type_proxy\"]").val() == "proxy" && $("#p_proxy_playlist [name=\"proxy_host\"]").val() == "")
      {
        alert("Vui lòng nhập PROXY.");
        return;
      };

      $.post("/channel/update/option/playlist",
      {
        channel: changeAction,
        create_delay: $("#p_info_channel [channel-option-delay]").val(),
        max_total: $("#p_info_channel [channel-option-max-total]").val(),
        max_day: $("#p_info_channel [channel-option-max-day]").val(),
        start: $("#p_info_channel [channel-option-status]").val(),
        keyword: $("#p_info_channel [channel-keyword]").val(),
        type_proxy: $("#p_proxy_playlist [name=\"type_proxy\"]").val(),
        key: $("#p_proxy_playlist [name=\"key_api\"]").val(),
        proxy: $("#p_proxy_playlist [name=\"proxy_host\"]").val(),
        videos: videoDataPlaylist,
        type_desc: $("#p_info_channel [name=\"type_desc\"]").val(),
        desc_content: $("#p_info_channel [name=\"desc_content\"]").val(),
        count_video: $("#p_info_channel [channel-option-count-video-in-playlist]").val(),
      }).then(function () {
        $(btn).removeAttr("disabled");
        $(btn).text(textBtn);
      });
    };

    function btn_channel_stop(btn)
    {
      $(btn).attr("disabled", 1);
      var btnText = $(btn).text();

      var channels = []; var i = 0;
      $.each($("[name=\"checkbox_channel\"]:checked"), function ()
      {
        channels.push($(this).val());
      });
      
      $(btn).text("loading...("+ i +"/"+ channels.length +")");
      function loop()
      {
        if (i < channels.length)
        {
          $.post("/channel/update/playlist/stop",
          {
            channel: channels[i]
          }).then(function ()
          {
            i++;
            $(btn).text("loading...("+ i +"/"+ channels.length +")");
            loop();
          }, function () {
            i++;
            $(btn).text("loading...("+ i +"/"+ channels.length +")");
            loop();
          });
        } else {
          $(btn).removeAttr("disabled");
          $(btn).text("");
          $(btn).append('<i class="fa fa-pause" aria-hidden="true"></i>');
        };
      };

      loop();
    };

    function btn_channel_start(btn)
    {
      $(btn).attr("disabled", 1);
      var btnText = $(btn).text();

      var channels = []; var i = 0;
      $.each($("[name=\"checkbox_channel\"]:checked"), function ()
      {
        channels.push($(this).val());
      });
      
      $(btn).text("loading...("+ i +"/"+ channels.length +")");
      function loop()
      {
        if (i < channels.length)
        {
          $.post("/channel/update/playlist/start",
          {
            channel: channels[i]
          }).then(function ()
          {
            i++;
            $(btn).text("loading...("+ i +"/"+ channels.length +")");
            loop();
          }, function () {
            i++;
            $(btn).text("loading...("+ i +"/"+ channels.length +")");
            loop();
          });
        } else {
          $(btn).removeAttr("disabled");
          $(btn).text("");
          $(btn).append('<i class="fa fa-play" aria-hidden="true"></i>');
        };
      };

      loop();
    };

    function btn_channel_delete(btn)
    {
      if (confirm("Xóa kênh"))
      {
        $(btn).attr("disabled", 1);
        var btnText = $(btn).text();

        var channels = []; var i = 0;
        $.each($("[name=\"checkbox_channel\"]:checked"), function ()
        {
          channels.push($(this).val());
        });
        
        $(btn).text("loading...("+ i +"/"+ channels.length +")");
        function loop()
        {
          if (i < channels.length)
          {
            $.ajax({
              url: "/channel/del",
              method: "delete",
              data: { channel: channels[i] },
              success: function ()
              {
                i++;
                $(btn).text("loading...("+ i +"/"+ channels.length +")");
                loop();
              },
              error: function () {
                i++;
                $(btn).text("loading...("+ i +"/"+ channels.length +")");
                loop();
              }
            });
          } else {
            $(btn).removeAttr("disabled");
            $(btn).text("");
            $(btn).append('<i class="fa fa-trash" aria-hidden="true"></i>');
          };
        };

        loop();
      };
    };

    var btn_channel_change_status = function (btn)
    {

      $(btn).attr("disabled", 1);
      var type = $(btn).attr("data-type");
      var channel = $(btn).attr("data-channel");
      if (type == "start")
      {
        $.post("/channel/update/playlist/start",
        {
          channel: channel
        }).then(function ()
        {
          $(btn).text("");
          $(btn).append(`<i class="fa fa-pause" aria-hidden="true"></i>`);
          $(btn).attr("data-type", "stop");
          $(btn).removeClass("btn-success");
          $(btn).addClass("btn-warning");
          $(btn).removeAttr("disabled");
        });
      };

      if (type == "stop")
      {
        $.post("/channel/update/playlist/stop",
        {
          channel: channel
        }).then(function ()
        {
          $(btn).text("");
          $(btn).append(`<i class="fa fa-play" aria-hidden="true"></i>`);
          $(btn).attr("data-type", "start");
          $(btn).removeClass("btn-warning");
          $(btn).addClass("btn-success");
          $(btn).removeAttr("disabled");
        });
        
      };
      
    };

    $("#table_channel_data thead").css({ width: ($("#plan-channel-data").width() - 10) + "px" });
    $("#table_channel_data tbody").css({ width: ($("#plan-channel-data").width() - 10) + "px" });

    $(window).resize(function() {
      $("#table_channel_data thead").css({ width: ($("#plan-channel-data").width() - 10) + "px" });
      $("#table_channel_data tbody").css({ width: ($("#plan-channel-data").width() - 10) + "px" });
    });

    $("#plan-channel-data").scroll(function() {
      if ($("#plan-channel-data").scrollTop() >= 90)
      {
        $("#table_channel_data thead").css({
          top: "20px"
        });
      } else {
        $("#table_channel_data thead").css({
          top: "108px"
        });
      };
    });

    $("#p_proxy_playlist [name=\"type_proxy\"]").on("change", function ()
    {
      $("#p_proxy_playlist [name=\"proxy_host\"]").parent().hide();
      $("#p_proxy_playlist [name=\"key_api\"]").parent().hide();

      if ($("#p_proxy_playlist [name=\"type_proxy\"]").val() == "key")
        $("#p_proxy_playlist [name=\"key_api\"]").parent().show();

      if ($("#p_proxy_playlist [name=\"type_proxy\"]").val() == "proxy")
        $("#p_proxy_playlist [name=\"proxy_host\"]").parent().show();
    });

    setInterval(function () {
      $.each($(".count_down"), function () {
        var delay = parseInt($(this).attr("date-delay"));
            delay = delay;
        var dateCreate = moment(parseInt($(this).attr("date-create"))).format("X");

        if (dateCreate > 0)
        {
          var time = (delay - (moment().format("X") - dateCreate) <= 0) ? 0 : (delay - (moment().format("X") - dateCreate));
            time = time;
          var hours = (time>0) ? Math.floor(time / (60 * 60)) : 0;
          time -= hours * (60 * 60);

          var mins = (time>0) ? Math.floor(time / (60)) : 0;
          time -= mins * ( 60);

          var seconds = (time>0) ? Math.floor(time) : 0;
          time -= seconds;
          $(this).text(hours +"h "+ mins +"m "+ seconds +"s");
        } else {
          $(this).text("0h 0m 0s");
        };
      });
    }, 1000);

    $(document).ready(function () { group_get(); getKeyworddata(); 
      // load logs //
      $("#log_channel tbody").text("");
      $("#log_playlist tbody").text("");
      $.get('/log/channel', function (res)
      {
        $.each(res.data, function (i, item)
        {
          $("#log_channel tbody").prepend(`
            <tr>
              <td>`+ item.date +`</td>
              <td>channel</td>
              <td style="color: #3ad7f1;">`+ item.msg +`</td>
            </tr>
          `);
        });
      });

      $.get('/log/playlist', function (res)
      {
        $.each(res.data, function (i, item)
        {
          $("#log_playlist tbody").prepend(`
            <tr>
              <td>`+ item.date +`</td>
              <td>playlist</td>
              <td style="color: #3ad7f1;">`+ item.msg +`</td>
            </tr>
          `);
        });
      });
    });
  </script>
  <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.4/Chart.min.js"></script>
  <script type="text/javascript" src="/js/analytic.js"></script>
</html>